@import "../App.scss";

.home {
  min-width: 100vw;
  min-height: 100vh;
  background-color: orange;

  &__map {
    width: 100vw;
    height: 100vh;
  }

  &__map-info {
    position: absolute;
    z-index: 10;
    height: 220px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #fbf9f7;
    bottom: 0px;
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
  }

  &__map-image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 130px;
    }
  }
  &__map-form {
    width: 85%;
    label {
      font-size: 10px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #212a37;
    }
    input {
      height: 54px;
    }
  }

  &__map-back {
    z-index: 20;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
