@import "../App.scss";

.signup {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__back {
    width: 18px;
    height: 17px;
    margin-bottom: 32px;
  }
  &__title {
    margin-bottom: 32px;
    
  }
  &__subtitle {
    margin-bottom: 25px;
    font-weight: normal;
  }
  form {
    margin: 16px 0px;
  }
  &__social-title {
    margin: 50px 0px 0px;
  }

  &__login {
      color: $yellow;
      font-weight: bold;
      text-decoration: underline;
  }
}
